<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dspt.mapper.Rootmapper">
    <select id="findall" resultType="User">
        select * from user
    </select>
<!--    查询20个-->
    <select id="findsome" parameterType="int" resultType="User">
        select * from user limit #{a},#{b}
    </select>
    <select id="findlittle" parameterType="string" resultType="User">
        select * from user where username like concat('%',#{username},'%')or name like concat('%',#{name},'%') or addr like concat('%',#{addr},'%')
    </select>
    <delete id="del" parameterType="string">
        delete from user where username=#{username}
    </delete>
</mapper>